body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:436px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:201px;
  width:395px;
  height:601px;
  overflow:hidden;
}
#u1055_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:601px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1055_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:780px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:355px;
  word-wrap:break-word;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:210px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:210px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 59, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:330px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(254, 148, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:330px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:690px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:690px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:570px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:570px;
  width:100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(44, 206, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:90px;
  width:100px;
  height:100px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(145, 237, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:450px;
  width:100px;
  height:100px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:90px;
  width:100px;
  height:100px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(187, 187, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:450px;
  width:100px;
  height:100px;
  text-align:left;
  line-height:20px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:78px;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:51px;
  top:133px;
}
#u1084_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background-image:none;
}
#u1084_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#000000;
  line-height:28px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#000000;
  line-height:28px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:436px;
  height:114px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:134px;
  width:31px;
  height:666px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:134px;
  width:30px;
  height:666px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:800px;
  width:436px;
  height:108px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:908px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
